* {
  box-sizing: border-box;
}
svg {
  border: 0.1em solid black;
  width: 60em;
  height: 30em;
}

.samples circle {
  fill: black;
}

.lines line {
  stroke: black;
  stroke-width: 0.02em;
}

div.command {
  border: 0.1em solid black;
  width: 60em;
  height: 10em;
  padding: 0.5em;
}
